/* globale Einstellungen */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4a778c;
    line-height: 1.4;
    background-color: #d4d6dd;
    margin: 0.3;
}
img {
    max-width: 100%;
    height: auto;
}

table {
    max-width: 100%;
    height: auto;
}


/*header start */
.header_logo {
    background-color: #d4d6dddd;
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.header_logo_elements {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
}



.header_schrift {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 0rem;
    color: #4a778c;
    letter-spacing: 1px;
}
/*header ende */
/* menu start */
/* deutsch */
.navigation {
    background-color: #d4d6dd;
    margin-left: 0rem;
    padding: 0rem;
    display: flex;

}

.navigation_logo_elements {
    width: 20px;
    height: 20px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0rem;
}

.navigation ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    list-style: none;
   
}

.navigation li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.navigation a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

.navigation a:hover,
      .navigation a:focus,
      .navigation a:active {
        background-color: grey;
    
    }

/* arabisch */
.navigation_arab {
    background-color: #d4d6dd;
    margin-left: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: row-reverse;
}

.navigation_logo_elements {
    width: 20px;
    height: 20px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0rem;
}

.navigation_arab ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    list-style: none;
}

.navigation_arab li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    padding: 1rem;
}

.navigation_arab a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    align-items: right;
    text-align: right;
    justify-content: right;

}

.navigation_arab a:hover,
      .navigation a:focus,
      .navigation a:active {
        background-color: grey;
    
    }




/* Button bei großen Viewports ausblenden */
[aria-controls="navi-liste"] {
    display: none;
}

/* menu ende */


/* Start: Einstellungen für ein kleineres Display mit 520 Pixel Breite */

@media screen and (max-width: 520px) {
    .header_logo_elements {
        width: 30px;
        height: 30px;
    }
    .header_logo h1 {
        font-size: small;
    }
    .navigation {
      position: relative;
    }
    .navigation ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0;
      padding-left: 0;
    }
    .navigation li {
      padding: 0;
      border-bottom: 1px solid grey;
      text-align: left;
    }
    .navigation button {
      position: absolute;
      top: -2.5rem;
      border: none;
      font-size: 20px;
    }
    [aria-controls="navi-liste"] {
      display: block;
    }
    .navigation ul {
      display: none;
    }
    [aria-expanded="true"]~ul {
        display: block;
      }
      [aria-expanded="false"] .geschlossen {
        display: none;
      }
      [aria-expanded="true"] .geschlossen {
        display: inline-block;
      }
      [aria-expanded="true"] .offen {
        display: none;
      }
    /* arabisch */
    .navigation_arab {
        position: relative;
      }
      .navigation_arab ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
      }
      .navigation_arab li {
        padding: 0;
        border-bottom: 1px solid grey;
        text-align: left;
      }
      .navigation_arab button {
        position: absolute;
        top: -2.5rem;
        border: none;
        font-size: 20px;
      }
      [aria-controls="navi-liste"] {
        display: block;
      }
      .navigation_arab ul {
        display: none;
      }
    [aria-expanded="true"]~ul {
      display: block;
    }
    [aria-expanded="false"] .geschlossen {
      display: none;
    }
    [aria-expanded="true"] .geschlossen {
      display: inline-block;
    }
    [aria-expanded="true"] .offen {
      display: none;
    }

  }
/* Ende: Einstellungen für ein kleineres Display mit 520 Pixel Breite */

@media screen and (max-width: 330px) {
    .header_logo {
        display: flex;
    }
    
    
    .header_logo h1 {
        font-size: smaller;
    }

}
/* main start*/

.rahmen_zitat {
    max-width: 100%;
    padding: 0.3rem;
    background: black;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.rahmen_zitat{
    color: #d4d6dd;
}

.zitat {
    color: #d4d6dd;
    line-height: 1.1;
    font-size: 1.3rem;
    align-items: center;
    text-align: center;
}

.rahmen_zitat img {
    max-width: 95%;
    max-height: 80%;
    padding: 0.5rem;
    align-items: center;
}

.tabellen_rahmen {
    display:flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0rem;

}

/*main ende */

/*footer start*/
.navigation_footer {
    background-color: #87888fbc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_footer_elements {
    margin: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    list-style: none;
    text-align: right;
}

.footer_logo_elements {
    width: 20px;
    height: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
}

.navigation_footer_link {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

/* Tabelle */
/* HTML-Tabelle sortieren */
.filter-table {
    margin-left: 0.5rem;
}

table#foobar-table {
    margin-left: 0.5rem;
}

/* Tabellenkopf platzieren */
table#foobar-table thead {
    position: sticky;
    inset-block-start: 0;
    user-select: none;
}

/* Hintergrundfarbe Tabellenkopf */
table#foobar-table>thead>tr {
    background-color: #87888fbc;
}

table#foobar-table>thead>tr>th:hover {
    background-color: #afafb5bc;
    cursor: pointer;
}

/* Tabellenspalten*/
table#foobar-table,
table#foobar-table>thead>tr>th,
table#foobar-table>tbody>tr>td {
    border: Solid 1px #888888;
    padding: 8px 11px 8px 11px;
    color: #4a778c;
}


/* Hintergrundfarben */
table#foobar-table>tbody>tr:nth-child(even) {
    background-color: #FFFFFF;
}

table#foobar-table>tbody>tr:nth-child(odd) {
    background-color: #d4d6dd;
}

/* Pfeil hoch */
.upArrow::after {
    content: "\2191";
    color: #4a778c;
    text-shadow: 0.5px 0.5px 0px #4a778c;
    position: absolute;
}

/* Pfeil runter */
.dnArrow::after {
    content: "\2193";
    color: #4a778c;
    text-shadow: 0.5px 0.5px 0px #4a778c;
    position: absolute;
}